# Rust
/target
profile.json

# Taskfile
.task

# Environments
.env
.envrc

# Python
.venv
.mypy_cache/
.ruff_cache/
__pycache__/
*.pyc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
report.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
/testtemp/*

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# asdf
.tool-versions

# Include .vscode (to include launch.json)
!.vscode
